[client]
port=3306
[mysql]
default-character-set=utf8mb4

[mysqld]
port=3306
datadir="/var/lib/mysql"
character-set-server=utf8mb4
default-storage-engine=INNODB


#sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
max_connections=512

